.green {
	color: #017201;
}

.gray {
	color: #919191;
}

.orange {
	color: #FF5E03;
}

.red {
	color: #A9443E;
}


.sidebar .nav > li.active {
	border-left: 2px solid #017201;
}

.sidebar .nav > li > a {
	padding: 5px 5px;
}